---
import { Image } from 'astro:assets';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import Github from '@/components/logos/Github.astro';
import Link from '@/components/icons/Link.astro';

interface Props {
  image: string;
  title: string;
  technologies: {
    icon: AstroComponentFactory;
    name: string;
    bgcolor: string;
  }[];
  description: string;
  github: string;
  preview?: string;
}

const { image, title, technologies, description, github, preview } =
  Astro.props;
---

<article
  class="group flex flex-col space-y-8 space-x-0 md:flex-row md:space-y-0 md:space-x-8"
>
  <div class="w-full md:w-1/2">
    <div
      class="relative col-span-6 row-span-5 flex transform flex-col items-center gap-8 overflow-clip rounded-xl shadow-xl transition duration-500 ease-in-out sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl"
    >
      <Image
        src={image}
        alt="project card"
        width={600}
        height={400}
        class="h-56 w-full object-cover object-top transition duration-500 md:h-64 md:scale-110 md:group-hover:scale-105"
        loading="lazy"
      />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-md">
    <h3 class="text-2xl font-bold text-gray-900 dark:text-gray-50">
      {title}
    </h3>
    <div class="mt-2 flex flex-wrap">
      <ul class="mb-2 flex flex-row gap-x-2">
        {
          technologies.map(technology => (
            <li>
              <span
                class={`flex items-center gap-x-2 rounded-full ${technology.bgcolor} px-2 py-1 text-sm text-gray-200`}
              >
                <technology.icon class="size-4" />
                {technology.name}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
    <p class="mt-2 text-gray-900 dark:text-gray-400">
      {description}
    </p>
    <footer class="mt-4 flex items-end justify-start gap-x-4 font-bold">
      <a
        href={github}
        target="_blank"
        class="text-md group inline-flex max-w-fit items-center justify-center gap-2 space-x-2 rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 text-base text-gray-800 transition hover:border-gray-900 hover:bg-gray-800 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-yellow-500/80 focus-visible:ring-offset-2 focus-visible:outline-none active:bg-black dark:border-gray-600 dark:bg-gray-800 dark:text-white"
      >
        <Github class="size-6" />
        Code
      </a>
      {
        preview && (
          <a
            href={preview}
            target="_blank"
            class="text-md group inline-flex max-w-fit items-center justify-center gap-2 space-x-2 rounded-xl border border-gray-300 bg-gray-100 px-3 py-2 text-base text-gray-800 transition hover:border-gray-900 hover:bg-gray-800 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-yellow-500/80 focus-visible:ring-offset-2 focus-visible:outline-none active:bg-black dark:border-gray-600 dark:bg-gray-800 dark:text-white"
          >
            <Link class="size-6" />
            Preview
          </a>
        )
      }
    </footer>
  </div>
</article>
