---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Experience from '@/sections/Experience.astro';
import Projects from '@/sections/Projects.astro';
import TechStack from '@/sections/TechStack.astro';
import About from '@/sections/About.astro';
import Contact from '@/sections/Contact.astro';
import { getTranslations } from '@/utils/getTranslations';
import type { Lang } from '@/i18n/config';

export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'es' } }];
}

const { lang } = (Astro.params as { lang: Lang }) || 'es';
const t = await getTranslations(lang);
---

<Layout title={t.site.title}>
  <main class="px-4">
    <Hero t={t} />
    <Experience t={t} />
    <Projects t={t} />
    <TechStack t={t} />
    <About t={t} />
    <Contact t={t} />
  </main>
</Layout>
