---
import Calendar from '@/components/icons/Calendar.astro';
import RightArrow from '@/components/icons/RightArrow.astro';
const { t } = Astro.props;

interface TimelineItemsData {
  date: string;
  title: string;
  description: string;
  link?: string;
}

const timelineItems: TimelineItemsData[] = [
  {
    date: t.timeline.june_2025.date,
    title: t.timeline.june_2025.title,
    description: t.timeline.june_2025.description,
    link: 'https://linkedin.com/in/ldelvillar',
  },
  {
    date: t.timeline.september_2022.date,
    title: t.timeline.september_2022.title,
    description: t.timeline.september_2022.description,
  },
  {
    date: t.timeline['2019'].date,
    title: t.timeline['2019'].title,
    description: t.timeline['2019'].description,
  },
];
---

<section id="experience" class="max-w-5xl mx-auto sm:px-4 py-16 scroll-m-20">
  <div class="flex flex-row items-center gap-5 text-gray-900 dark:text-white">
    <Calendar />
    <h2 class="text-3xl font-bold">{t.experience.title}</h2>
  </div>
  <ol class="relative border-s border-gray-200 dark:border-gray-700 mt-10 ml-3">
    {
      timelineItems.map((item, index) => (
        <li
          class={`${index === timelineItems.length - 1 ? '' : 'mb-20 md:mb-24'} ms-6`}
        >
          <div class="absolute w-3 h-3 bg-yellow-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900" />
          <div class="flex flex-col md:flex-row">
            <div class="md:w-[40%]">
              <h3 class="text-xl font-bold text-yellow-400">{item.title}</h3>
              <time class="text-sm font-normal leading-none text-gray-700 dark:text-gray-300">
                {item.date}
              </time>
            </div>
            <div class="md:w-[60%] md:ml-8">
              <p class="text-gray-700 dark:text-gray-300 mt-8 md:mt-0">
                {item.description}
              </p>
              {item.link && (
                <a
                  href={item.link}
                  target="_blank"
                  class="inline-flex items-center mt-6 px-4 py-2 text-sm font-medium text-yellow-500 bg-white border border-gray-200 rounded-lg hover:text-yellow-400 focus:z-10 hover:bg-slate-100 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-yellow-400 dark:bg-gray-800 dark:text-yellow-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-100"
                >
                  {t.timeline.learn_more}
                  <RightArrow />
                </a>
              )}
            </div>
          </div>
        </li>
      ))
    }
  </ol>
</section>
