---
import Code from "@/components/icons/Code.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { t } from 'i18next';

const projectCards = [
    {
        image: "/images/notesapp.webp",
        title: t("projects.notes_app.title"),
        description: t("projects.notes_app.description"),
        github: 'https://github.com/ldelvillar/Notes-App',
        preview: 'https://notesapp-ldelvillar.netlify.app/',
        orientation: 'col',
        class: ""
    },
    {
        image: "/images/shell.webp",
        title: t("projects.linux_shell.title"),
        description: t("projects.linux_shell.description"),
        github: 'https://github.com/ldelvillar/vanlife',
        orientation: 'col',
        class: ""
    },
    {
        image: "/images/pyxel.webp",
        title: t("projects.1942_game.title"),
        description: t("projects.1942_game.description"),
        github: 'https://github.com/ldelvillar/1942',
        orientation: 'row',
        class: "col-span-2"
    }
];
---

<section id='projects' class="scroll-m-20 pb-10 w-full lg:mx-auto container lg:max-w-4xl">
    <h2 class='text-gray-900 dark:text-white text-3xl font-bold mb-6 flex items-center'>
        <span class="mr-5">
            <Code />
        </span>
        {t("projects.title")}
    </h2>
    <div class="cards mt-5 flex flex-col sm:grid sm:grid-cols-2 gap-8">
        {
            projectCards.map(project => (
                <div class={`card ${project.class}`}>
                    <ProjectCard
                        image={project.image}
                        title={project.title}
                        description={project.description}
                        github={project.github}
                        preview={project.preview}
                        orientation={project.orientation}
                    />
                </div>
            ))
        }
    </div>
</section>

<style>
    .cards .card {
        transition: 400ms;
    }
    .cards .card:hover {
        transform: scale(1.1, 1.1);
    }
    .cards:hover > .card:not(:hover) {
        filter: blur(10px);
        transform: scale(0.9, 0.9);
    }
</style>
